<section class="col-12" style="padding: 1%;">
  <div class="row">
    <!--<div class="col-1">
      <div class="card">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>

    </div>-->

    <div class="col-12">
      <div class="card">
        <div class="card" style="margin: 1%;">
          <h2>Ventas</h2>
        </div>

        <div class="card" style="margin:1%; padding: 1%;">
          <div class="row" style="padding: 0 1%;">

            <!--CARRITO DE COMPRAS-->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio.</th>
                  <th scope="col">Cantidad.</th>
                  <th scope="col">Descuento.</th>
                  <th scope="col">Vlr Descuento.</th>
                  <th scope="col">Acción.</th>
                </tr>
              </thead>
              <tbody *ngFor="let producto of carritoCompras">
                <tr>
                  <td>{{producto.nombre_producto}}</td>
                  <td>{{producto.precio_producto | number: '0.0-0'}}</td>
                  <td>{{producto.cant_producto}}</td>
                  <td>{{producto.descuento}}</td>
                  <td>{{producto.vlrDescuento | number: '0.0-0'}}</td>
                  <td><button (click)="eliminarProducto(producto)" class="btn btn-danger">Eliminar</button></td>
                </tr>
              </tbody>
              <tfoot>

                &nbsp;&nbsp;<strong>Total: &nbsp; {{totalVenta | number: '0.0-0'}}</strong>


              </tfoot>
            </table>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <button class="btn btn-primary" (click)="enviarProductos()">ENVIAR</button>
              </div>
              <div class="col-4"></div>
            </div>
          </div>

        </div>

        <input type="text" placeholder="Buscar" (keyup)="srch($event.target)" style="margin: 1%;">

        <!--LISTA DE PRODUCTOS EN CATÁLOGO-->
        <div class="card" style="margin: 1%; padding: 1%;">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Agregar</th>
                <th scope="col">#Cód.</th>
                <th scope="col">Stock.</th>
                <th scope="col">Producto.</th>
                <th scope="col">Modelos.</th>
                <th scope="col">Precio.</th>
              </tr>
            </thead>
            <tbody *ngFor="let prod of repuestos">
              <tr>
                <td><button (click)="modalProducto(modalForm, prod)" class="btn btn-success">Agregar</button></td>
                <td>{{prod.cod_producto}}</td>
                <td>{{prod.cant_producto}}</td>
                <td>{{prod.nombre_producto}}</td>
                <td>{{prod.aplicacion_productos}}</td>
                <td >{{validaPrecio(prod) | number: '0.0-0'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</section>


<ng-template #modalForm>
  <ng-container class="row" >
    <div>
      <div class="modal-header">
        <h2 class="col-2">Producto</h2>
        <div class="col-9"></div>
        <div class="col-1"><button class="btn btn-close" style="margin-left: 50%;" (click)="closModalProd()"></button></div>
      </div>
      <div class="modal-body">
        <form [formGroup]="formVentas">
          <input type="text" formControlName="id_producto" name="id_producto" hidden>
          <input type="text" formControlName="nombre_producto" name="nombre_producto" hidden>
          <input type="number" formControlName="costo_producto" name="costo_producto" hidden>
          <input type="number" formControlName="cod_producto" name="cod_producto" hidden>
          <div class="row" style="margin-top: 1%; margin-bottom: 2%;">
            <div class="col-7">
              <label for="precio_producto">Precio
                <input type="text" formControlName="precio_producto" name="precio_producto" class="form-control col-5"  thousandSeparator="." [mask]="'separator'">
              </label>
            </div>
          </div>

          <div class="row" style="margin-top: 2%">
            <div class="col-4">
              <label for="cant_producto">Cantidad
                <input type="number" formControlName="cant_producto" name="cant_producto" class="col-5 form-control">
              </label>
            </div>
          </div>

          <div class="row" style="margin-top: 2%;">
            <div class="col-6">
              <div class="row col-12">
                <div class="col-4" style="margin-right: 0; padding-right: 0;">
                  <p>Descuento</p>
                </div>

                <div class="col-3" style="margin-left: 0;padding-left: 1%; padding: 0.5% 0;">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" style="margin-right: 0;"
                    formControlName="descuentoButton" (change)="haveDiscount()">
                    <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-left: 0;">Sí</label>
                  </div>
                </div>

                <!--<div class="col-5" *ngIf="aplicaDescuento == true">-->
                  <div class="col-5">
                  <input type="number" formControlName="vlrDescuento" name="vlrDescuento" class="form-control col-12" thousandSeparator="." [mask]="'separator'">
                </div>

              </div>
            </div>

          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-4">
              <button class="btn btn-success" (click)="agregarProducto()">Agregar</button>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </ng-container>
</ng-template>
