<section class="col-12" style="padding: 1%;">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card" style="margin: 1%;">
          <div class="row">
            <div class="col-2">
              <h2>Reporte salidas</h2>
            </div>
            <div class="col-6">
              <form [formGroup]="formReportSalidas">
                <div class="row" style="padding-top: 2%;">
                  <div class="col-2 " style="margin-right: 0; padding: 1% 0 0 1%;">
                    <h3>Fecha inicio</h3>
                  </div>
                  <div class="col-4">
                    <input type="date" name="fechaIni" formControlName="fechaIni" class="form-control">
                  </div>
                  <div class="col-2" style="padding-top: 1%;">
                    <h3>Fecha fin</h3>
                  </div>
                  <div class="col-4">
                    <input type="date" name="fechaFin" formControlName="fechaFin" class="form-control">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-2" style="padding: 1% 1% 0;">
              <select name="unidades" class="form-select" aria-label="Default select example">
                <option value="1">Unidad 1</option>
                <option value="2">Unidad 2</option>
              </select>
            </div>
            <div class="col-2" style="padding: 1% 1% 0;">
              <button class="btn btn-primary" type="submit" (click)="buscarReport()">Buscar</button>
            </div>
          </div>
        </div>

        <div class="card" style="margin:1%; padding: 1%;">
          <div class="row" style="padding: 0 1%;">

            <div *ngIf="exportar == true">
              <button class="btn btn-success" (click)="exportarExcel()"> Excel </button>
            </div>
            <!--CARRITO DE COMPRAS-->
            <table class="table" id="ventasTable">
              <thead style="border: 1px;">
                <tr>
                  <th scope="col">Salida Nro.</th>
                  <th scope="col">Fecha salida.</th>
                  <th scope="col">Valor salida.</th>
                  <th scope="col">Descripción salida.</th>
                  <th scope="col">Método pago.</th>
                </tr>
              </thead>
              <tbody *ngFor="let rSalida of salidas">
                <tr>
                  <td>{{rSalida.id_salida}}</td>
                  <td>{{rSalida.fecha_salida | date: 'yyyy-MM-dd'}}</td>
                  <td>{{rSalida.valor_salida | number: '0.0-0'}}</td>
                  <td>{{rSalida.descripcion_salida}}</td>
                  <td>{{rSalida.metodo_pago_salida}}</td>
                </tr>
              </tbody>
              <tfoot style="border: 1px;">
                <tr>
                  <td><strong>TOTAL</strong></td>
                  <td><strong></strong></td>
                  <td><strong>{{totalValorSalida | number: '0.0-0'}}</strong></td>
                  <td><strong></strong></td>
                  <td><strong></strong></td>
                </tr>

               <!--&nbsp;&nbsp;<strong>Total: &nbsp; 10</strong>-->


              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
